<h2>ユーザー情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
    <%= f.label :アイコン %><br />
    <%= f.text_field :image, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :ユーザー名 %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>
  
<div class="field">
<%= f.label :好きなジャンル %><br />
<%= f.label :現代小説  %>
<%= f.radio_button :favorite_genre, :現代小説 %>
<%= f.label :歴史小説  %>
<%= f.radio_button :favorite_genre, :歴史小説 %>
<%= f.label :ノンフィクション  %>
<%= f.radio_button :favorite_genre, :ノンフィクション %>
<%= f.label :ファンタジー  %>
<%= f.radio_button :favorite_genre, :ファンタジー %>
</div>


  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


    <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_field :self_introduction, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.label :男  %>
    <%= f.radio_button :sex, :男 %>
    <%= f.label :女  %>
    <%= f.radio_button :sex, :女 %>
    <%= f.label :その他  %>
    <%= f.radio_button :sex, :その他 %>
    <%= f.label :解答しない  %>
    <%= f.radio_button :sex, :解答しない %>
</div>

    <div class="field">
    <%= f.label :誕生日 %><br />
    <%= f.text_field :birthday, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :リンク %><br />
    <%= f.text_field :link, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :パスワード %> <i>(変更しない場合は空白)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> 文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :パスワード再入力 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to 'トップページへ戻る', root_path%>
