<p id="notice"><%= notice %></p>
<%= render @post %>


<!-- コメントエリア -->
<%= render 'responses/responses', { responses: @response } %>

<!-- コメントフォーム -->
<%= render 'responses/form', { posts: @post, response: @response } %>

<%= link_to '戻る', posts_path %>
